<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa</title>
</head>
<body>
    <body class="home">
        <header>
            <div class="cajaC">
                <div class="cajaB">
                    <div class="logo">
                        <img src="/images/logo-mercado-liebre.svg" alt="logo" title="logo de mercado libre">
                    </div>
                    <div class="buscador">
                        <input type="text" placeholder="buscar productos, marcas"><a class="seach-button" href=""><i
                                class="fab fa-sistrix"></i></a>
                    </div>
                </div>
                <div class="compra">
                    <p><i class="fas fa-hand-holding-usd"></i> comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav>
                <div class="cajaD">
                    <ul class="nav-o">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tienda Oficiales</a></li>
                        <li><a href="">Verder</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                    <ul class="login">
                        <li><a href="">Crea tu Cuenta</a> <i class="far fa-address-card"></i></li>
                        <li><a href="">Ingresa</a> <i class="fas fa-share-square"></i></li>
                        <li><a href=""></i>Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </div>
                <main>
                    <div class="formulario">
                    <form action="ingreso" method="POST">
                        <label for="Nombre">Nombre de Usuario</label>
                        <input type="text" name="Nombre" id="Nombre">


                        <label for="Contraseña">Elegi tu Contraseña</label>
                        <input type="password" name="Contraseña" id="Contraseña">

                        <button type="submit">Enviar</button>
                    </form>
                </div>
                </main>
                <footer>
                    <section>
                        <div class="iconos">
                            <p><i class="fas fa-money-check"></i></p>
                        </div>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Libre Cash,tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y siempre es
                            seguro!</p>
                        <div class="iconos">
                            <p><i class="fas fa-gift"></i></p>
                        </div>
                        <h3>Envío gratis desde los $2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Libre tenés envios gratis en miles de productos. Es un beneficio de
                            Mercado Puntos.</p>
                        <div class="iconos">
                            <p><i class="fas fa-user-shield"></i></p>
                        </div>
                        <h3>seguridad, de principio a fin</h3>
            
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre
                            protegid@.
                        </p>
            
                        <p>copyright © 1999-2020 MercadoLibre S.R.L</p>
                    </section>
                    </footer>
                    
</body>
</html>